{% extends 'base.html' %}
{% block tag %}
<meta name="description" content=" ">
{% endblock tag %}
{% block title %} About {% endblock title %}
{% block css %}
<style>
  .container{
    min-height: 100vh;
  }
</style>
{% endblock css %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}


      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
              About Us
            </h3>
      
            <div class="blog-post">
              <h2 class="blog-post-title">We are a coding comunity that providing you programming blog , tutorial and more.</h2>

      
              <p>Our goal is to let programmers keep on improving their coding skills by solving the World's most challenging problems, learn new concepts, and get inspired by the best developers..</p>
              <hr>
             
            
            </div><!-- /.blog-post -->
      
      
      
      
          </div><!-- /.blog-main -->
      
          <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
              <h4 class="font-italic">About</h4>
              <p class="mb-0">Our goal is to let programmers keep on improving their coding skills by solving the World's most challenging problems, learn new concepts, and get inspired by the best developers.. </p>
            </div>
      
            <div class="p-4">
              <h4 class="font-italic">What we are providing you?</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="#">Present a lightning talk.</a></li>
                <li><a href="#">Deliver a training course.</a></li>
                <li><a href="#">Present at a local user group.</a></li>
                <li><a href="#">Present a lightning talk.</a></li>
                <li><a href="#">Present at a conference.</a></li>
                <li><a href="#">Publish a tutorial</a></li>
                <li><a href="#">Publish a constructive code review of an open source project</a></li>
                <li><a href="#">AWrite a programming book</a></li>
                
              </ol>
            </div>
      

      
        </div><!-- /.row -->
      
      </main>
    {% endblock body %}
    